.body{
    font-family: 'Poppins', sans-serif;
}
.honda-bg-primary{
background-color: 
#264653;
}
.button-btn-primary{
    background-color: #E76F51;
    width: 168px;
    height: 44px;
}

.filtered {
    
    filter: grayscale(100%);
 }
 .font-color{
     color:#E76F51 ;
 }
 .size{ 
     width: 596px;
     height: 596px;
 }
 .fa-star.filled{
    color: #E77C40 ;
 }
 
 .fa-star.empty{
     
     color: #E77C40 ;
     
 }
 .line-width{
     width: 138px;
     color: #E76F51;
     
 }
 .txt-decoration{
     text-decoration: none;

 }
  
  
    
  
  
  
  
  
 
    
